'welcome':
  'showOnStartup': false
'editor':
  'fontSize': 11
  'fontFamily': 'SourceCodePro-Light'
  'tabLength': 4
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/Leon/Code/'
'exception-reporting':
  'userId': 'd8bf2c4b-54f3-8b4b-9d58-77a7f28ce6e0'
'release-notes':
  'viewedVersion': '0.85.0'
'metrics':
  'userId': 'ac5249ec0e06f18b89d951ed96c82c354b30bcaf'
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
